* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gilroy, sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1380px;
  padding: 0 20px;
}
body {
  overflow-x: hidden;
}
@media (max-width: 600px) {
  .container {
    padding: 0 5px;
  }
}