@font-face {
    font-family: "Gilroy"; 
    src: url("../fonts/Gilroy-Regular.woff") format("woff"),
        url("../fonts/Gilroy-Regular.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: 400; 
}
@font-face {
    font-family: "Gilroy"; 
    src: url("../fonts/Gilroy-Medium.woff") format("woff"),
        url("../fonts/Gilroy-Medium.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: 500; 
}
@font-face {
    font-family: "Gilroy"; 
    src: url("../fonts/Gilroy-Semibold.woff") format("woff"),
        url("../fonts/Gilroy-Semibold.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: 600; 
}
@font-face {
    font-family: "Gilroy"; 
    src: url("../fonts/Gilroy-Bold.woff") format("woff"),
        url("../fonts/Gilroy-Bold.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: 700; 
}
