.hidden-type-file{
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.seo-data-title span{
    color: red;
    font-weight: bold;
    margin-bottom: 2rem;
}

.id-search{
    border: 50px solid red;
    background-color: red;
}


body {
    background-color: red;
}