.hidden-type-file{
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.seo-data-title span{
    color: red;
    font-weight: bold;
    margin-bottom: 2rem;
}

/* Ред. Компания */
.author_search {
    margin-top: 1.3rem;
}

.ID_search {
    margin-top: 1.3rem;
}

.comp_items_adverts {
    text-decoration: underline;
}

.phone_search {
    margin-top: 1.3rem;
}

/* Зарегистрированые пользователи */

.count-adverts {
    margin-top: 1.3rem;
}

.count-adverts-filter {
    margin-top: 1.3rem;
}

/* Забаненые пользователи */
.ses-search {
    margin-top: 1.3rem;
}

/* Порты */
.grouped-element__footer .form-group .clearfix{
    display: none;
}

/* Экспорт Email компаний фильтр секций */
.section-filter {
    width: 30%;
}